<ion-header [translucent]="true">
 <!--Android toolbar--> 
  <ion-toolbar color="primary">
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!--iOS Toolbar-->
    <ion-toolbar>
      <ion-title size="large" color="primary">About</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="workout">
  <!--name variable is found in tab2.page.ts-->
<h1>Created by: {{ name }}<br /><br />
  <!--github variable is found in tab2.page.ts-->
GitHub Repo URL: <a href="{{ github }}">Just-Lift! GitHub Repo</a> </h1>
</div>
</ion-content>