<ion-header [translucent]="true">
  <!--Android Toolbar-->
  <ion-toolbar color="primary">
    <ion-title>
      <!--Variable for the title found in tab1.page.ts-->
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!--iOS Toolbar-->
    <ion-toolbar color="primary">
      <!--Variable for the title found in tab1.page.ts-->
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <span class="blank-workout ion-padding-top" *ngIf="exercises.length === 0">
      <h3>Click the "Plus" button below to add a exercise to the workout!</h3>
      </span>
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding *ngFor="let exercise of exercises; let i = index">
      <ion-item>  
        <ion-label class="workout">
          <h2>
            <!--These are the exercise entry fields that tie to the backend-->
            <strong>Exercise Name:</strong> {{ exercise.name }}<br />
            <strong>Weight Used(in LBs):</strong> {{ exercise.weight }}<br />
            <strong>Sets Completed:</strong> {{ exercise.sets }}<br />
            <strong>Reps Completed in each Set:</strong> {{ exercise.reps }}<br />
      </h2>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <!--This button is for deleting entries from the database-->
      <ion-button (click)="removeExercise(exercise)" color="primary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Delete
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
      
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addExercise()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
