:host {
    ion-item {
        border-bottom: 2px dotted var(--ion-color-medium);
    }
}

ion-content{
    --ion-background-color: silver;
}

.blank-workout {
    color: red;
    text-align: center;
}

.workout {
    background-color: silver;
    color: black;
    display:flex;
    justify-content: center;
}


