<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/workouts"></ion-back-button>
    <ion-title>{{ selectedWorkout?.title }}</ion-title>
    <ion-buttons slot="end"></ion-buttons>
    <ion-button (click)="onDeleteWorkout()"><ion-icon name="trash-bin" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-grid no-padding>
  <ion-row>
    <ion-col no-padding>
      <h1> {{ selectedWorkout?.title }}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let exercise, of selectedWorkout?.exercises">
          {{ exercise }}
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-content>

</ion-content>
