<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class='header'><h1>Just-LIFT! -  App Support</h1></div>
  <div class='content'><p>To log an issue you're having this this app please use the link below to log an "issue" on my GitHub Issue page.</p>
  <p><a href="{{ githubSupport }}">Just-Lift! - GitHub Issues</a></p>
  <ion-button expand="full" (click)="openPage()">Open Page</ion-button>
  </div>

</ion-content>
