<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card style="width: 40%; text-align: center;">
    <ion-card-header>
      <ion-card-title class="header">Just-LIFT! -  App Support</ion-card-title>
    </ion-card-header>
    <ion-card-content class="content">
      To log an issue you're having with this app clicking the button below will open a web browser and take you to the Just-Lift! GitHub Issue page.
      <ion-button expand="full" (click)="openPage()">Just-Lift!-GitHub Issue Page</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

